#Spring{
    width:1300px;
    height:700px;
    display: inline-block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;	
    background:url("../images/Spring/Spring.jpg");
    background-size: cover;
    box-shadow: 10px 20px 20px 5px black;
    margin:125px auto 0 auto;
    border-radius:80px;
}

#Spring ul{
    display: inline-block;
    list-style: none;
}

#Spring ul li{
    display: inline-block;
    margin:0 50px;
}

#Spring ul li p{
    float:left;
    height: 280px;
    padding:20px 30px;
    background-color: rgba(220, 220, 220, 0.883);
}

.Spring_li img{
    display: inline-block;
    width:220px;
    height:220px;
    border-radius: 50%;
    margin:0 50px;
}

.Spring_li fieldset{
    display: inline-block;
    color:black;
    font-size: 25px;
    width:300px;
}

.Spring_li fieldset legend{
    font-size: 45px;
    font-family: 楷体;
    color:red;
    width:180px;
}

#img1{background: url("../images/Spring/YuJinXiang1.jpg") no-repeat;background-size: cover;}
#img1:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition-duration: 1s;
}

#img2{background: url("../images/Spring/MuDan.png") no-repeat;background-size: cover;}
#img2:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition-duration: 1s;
}

#img3{background: url("../images/Spring/LingLan.png") no-repeat;background-size: cover;}
#img3:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition-duration: 1s;
}

#YuJinXiang,#MuDan,#LingLan{
    opacity: 0;
}